doctype html
html(lang='en')
  head
    title Display
    meta(charset='utf-8')
    link(href='styles.css' rel='stylesheet')
    script(type='text/javascript').
      window.webSocketEndpoint = "#{webSocketEndpoint}"
  body
    main
    script(src='main.js')
